
*.ppm

*.pgm

*.csv

*.jpg

*.jpeg

*.png

/speedtraincascade/

/speedtraincascadeV2/

/speedtraincascadeV3/

/speedtraincascadeV4/

/traindata/

/vc14/

*.pyc

/.idea/

cannyedge.py
facedetection.py

bg.txt
bg2.txt

*.Rhistory

haarCascade.xml

haarcascade_eye.xml
haarcascade_frontalface_default.xml
info.dat
info.txt

*.vec

*.RData
